<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999316912842-dvmocpsjkn5tqon3bc0bkuse8ko51tkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999316912842-dvmocpsjkn5tqon3bc0bkuse8ko51tkq</string>
	<key>API_KEY</key>
	<string>AIzaSyBRb3UVVGblmdTruhj3tvXUSp8NWjw4w24</string>
	<key>GCM_SENDER_ID</key>
	<string>999316912842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daoinek.jastINSTA</string>
	<key>PROJECT_ID</key>
	<string>just-insta-dao</string>
	<key>STORAGE_BUCKET</key>
	<string>just-insta-dao.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999316912842:ios:6b6ceb7878f6f2d7</string>
	<key>DATABASE_URL</key>
	<string>https://just-insta-dao.firebaseio.com</string>
</dict>
</plist>